body {
    background-color: ghostwhite;
    font-family: sans-serif;
}

.navli{
  float: left;
}

.liAboutMe {
    list-style-type: none;
    color: white;
    font-size: 24px;
    max-width: 100%;
    margin-top: 5%;
}

li a {
  display: block;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}

.ulNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1
}

.mini-background {
    background-color: darkblue;
    height: 80%;
    width: 70%;
    left: 30%;
    position: absolute;
    right: 0;
    top: 20%;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.area-left{
    background-color: darkblue;
    position: absolute;
    top: 20%;
    height: 80%;
    width: 20%;
    margin-left: 2%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.picture {
    display: block;
    height: 60%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 5%;
}