body {
    background-color: ghostwhite;
    font-family: sans-serif;
    background-image: url(/images/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
  font-family: sans-serif;
}

.navli {
  float: left;
}

.liAboutMe {
  list-style-type: none;
  color: white;
  font-size: 24px;
  max-width: 100%;
  margin-top: 5%;
}

li a {
  display: block;
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}

.ulNavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1
}

.mini-background {
    background-color: darkblue;
    position: absolute;
    top: 20%;
    width: 70%;
    left: 30%;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.area-left{
    background-color: darkblue;
    position: absolute;
    top: 20%;
    width: 21%;
    margin-left: 2%;
    border-radius: 5%;
}

.picture {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 5%;
}